@import "./global.css";
@import "./winbox.css";


main{
  width: 100%;
  height: 100%;
  background: url("./../assets/dark-mac-bg.jpeg") center center no-repeat;
  background-size: cover;
  display: none;
}

#splash{
  width: 100%;
  height: 100%;
  cursor: none;
  background: black;
  color: white;
  font-size:5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading-container{
  width: 100%;
  height: auto;
  display: flex;
  align-items:center;
  justify-content: center;
}

.loading-container .loading-bar{
  width: 12%;
  height: 4px;
  border-radius:20px;
  background: grey;
}

.loading-container .loading-bar .loading-indicator{
  height: 4px;
  width: 100%;
  border-radius: 20px;
  background: white;
  animation: loading 2.5s forwards cubic-bezier(.76,-0.13,.67,.82);
}
#audio {
    position: absolute;
    z-index: -9999;
    display: none;
  }
.wrapper {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  position: absolute;
  width: 100vw;
  z-index: 2147483647;
}

.wrapper nav {
  position: relative;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}

nav .content {
  display: flex;
  align-items: center;
}

nav .content .links {
  margin-left: 5px;
  display: flex;
}

.content .logo{
  position: relative;
  color: white;
  padding: 0 10px;
  padding: 0px 13px;
  border-radius:3px;
  margin-left: 1rem;
  color: white;
}
.content .logo a{
  color: white;
}
.logo .menu-drop a{
  padding: 10px 10px;
}

.content .links li {
  list-style: none;
  position: relative;
  border-radius: 5px;
  margin: 2px 0;
  transition: all 0.3s ease;
}

.content .links li a {
  color: white;
  font-size: 13px;
  font-weight: 500;
  padding: 0px 13px;
}
.menu-drop{
  color: white;
  font-size: 13px;
  width: 200px;
  position: absolute;
  z-index: 99999;
  top: 41px;
  left: 0px;
  padding: 10px 5px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  backdrop-filter: blur(20px);
  box-shadow: inset 0 0 0 0.2px hsla(0, 0%, 96%, 0.7),
    0 0 0 0.2px hsla(0, 0%, 13%, 0.7), hsla(0, 0%, 0%, 0.3) 2px 5px 19px 7px;
  display: none;
}
.drop-div{
  margin: 3px 0;
  background: rgba(255, 255, 255, 0.5);
  height:0.5px;
  width: 100%;
}

.content .links li .menu-drop div .not-active{
  color: rgba(255, 255, 255, 0.5)
}

.drop-link{
  border-radius: 8px;
}


.wrapper .menu-icon {
  display: none;
}

.wrapper input[type="checkbox"] {
  display: none;
}

.drawer-icon{
  position:absolute;
  right: 20px;
  color: white;  
}

#action-button{
  position: relative;
  top: 0;
  right: 190px;
  padding-top: 6px;
  height: 20px;
  width: 20px;
}
#action-button img{
  height: 25px;
}

.action-drop{
  position: absolute;
  top: 41px;
  left: -170px;
  width: 350px;
  font-weight: 500;
  color: white;
  font-size: 13px;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  backdrop-filter: blur(20px);
  box-shadow: inset 0 0 0 0.2px hsla(0, 0%, 96%, 0.7),
    0 0 0 0.2px hsla(0, 0%, 13%, 0.7), hsla(0, 0%, 0%, 0.3) 2px 5px 19px 7px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 15px;
}
.action-color, .action-wallpaper, .action-notch{
  width: 100%;
  min-height: 60px;
  padding: 10px 5px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 13px;
  backdrop-filter: blur(20px);
}
.action-theme{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.action-mode, .action-focus{
  width: 153px;
  min-height: 60px;
  padding: 10px 5px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 13px;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.action-mode div:first-child, .action-focus div:first-child{
  background: rgba(255, 255, 255, 0.3);
  padding: 5px;
  height:30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.action-notch, .action-wallpaper{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  padding-left: 30px;
}
.action-wallpaper{
  padding: 15px;
  padding-left: 20px;
}
.action-wallpaper h3{
  font-size: 1.1rem;
}
.action-wallpaper h4{
  margin-top: -0.5rem;
  font-weight: 400;
}
.action-wall{
  width:70px;
  height: 70px;
  background:url('./../assets/dark-mac-bg.jpeg') no-repeat center center;
  background-size: cover;
  border-radius: 10px;
}
.action-color{
  padding: 15px 20px;
}
.action-colors{
  padding-top: 15px;
  display:flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}
.color-div{
  height: 32px;
  width: 32px;
  border-radius:50%;
  display: grid;
  place-items: center;
}
.color-div:hover{
  transition: 0.2s all linear;
  background: #3273ecb4;
}

.color{
  height: 25px;
  width: 25px;
  border-radius:50%;
  background: #3273ecf3;
}

.orange{
  background:#ff9d06;
}
.orange-div:hover{
  background: #ff9b067c;
}
.green{
  background: #2cd156;
}
.green-div:hover{
  background: #2cd1557c;
}
.light-blue{
  background: #67d2ff;
}
.light-blue-div:hover{
  background: #67d1ff8e;
}
.violet{
  background: #5e5de7;
}
.violet-div:hover{
  background: #5d5de783;
}
.purple{
  background:#be5af2;
}
.purple-div:hover{
  background: #bd5af262;
}
.red{
  background: #ff3961;
}
.red-div:hover{
  background: #ff396162;
}

.action-notch div:first-child{
  background: rgba(255, 255, 255, 0.3);
  padding: 5px;
  height:30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}


#time {
  position:absolute;
  right: 20px;
  font-weight: 500;
  font-size: 13px;
  padding-top: 4px;
  color: white;
}

.drop-link:hover{
  background: #3273ecf3;
}
.content .links li .drop-link:hover a{
  color: black;
}
.content .logo .drop-link:hover a{
  color: black;
}
@media screen and (max-width: 1250px) {
  .wrapper {
    backdrop-filter: inherit;
    box-shadow: none;
  }
  .wrapper nav {
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links {
    margin-left: 30px;
  }
  .content .links li a {
    padding: 8px 13px;
  }
  .content .logo .logo-link {
    margin-left: 0rem;
  }
  #action-button{
    right: 170px;
  }
}
@media screen and (max-width: 920px) {
  .wrapper .menu-icon {
    display: block;
  }

  nav .content .links {
    display: block;
    position: fixed;
    background: var(--bg-color);
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 360px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links {
    left: 0%;
  }
  .content .links li {
    margin: 15px 20px;
  }
  .content .links li a {
    line-height: 40px;
    font-size: 1.25rem;
    display: block;
    padding: 8px 18px;
  }

  .content .links ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }

  .content .links ul li {
    margin: 7px 20px;
  }
  .content .logo {
    margin-left: -1rem;
  }
}
@media screen and (max-width: 460px) {
  .content .links li a {
    font-size: 0.75rem;
    padding: 2px 5px;
  }
  .content .logo a {
    margin-left: 0;
  }
  
  #splash{

    font-size:2.5rem;

  }
  nav .content .links {
    padding-bottom: 0px;
  }

  .content .links li {
    margin: 1px 1px;
  }
}

@media screen and (max-width: 330px) {
  #action-button{
    right: 0px;
  }

  #time {
    display: none;
  }
}

#dock {
  margin-bottom: 1rem;
  left: 0;
  bottom: 0;
  z-index: 9900;
  position: fixed;

  width: 100%;
  height: 6.5rem;

  padding: 0.4rem;

  display: flex;
  justify-content: center;
}

.dock-container {
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 0 0.2px hsla(0, 0%, 96%, 0.7),
    0 0 0 0.2px hsla(0, 0%, 13%, 0.7), hsla(0, 0%, 0%, 0.3) 2px 5px 19px 7px;

  padding: 0.3rem;

  border-radius: 1.2rem;

  height: 100%;

  display: flex;
  align-items: flex-end;
}

.icon {
  color: inherit;
  text-decoration: none;
  vertical-align: middle;

  border: 0;
  border-radius: 0;

  outline: 0;

  margin: 3px 4px;
  padding: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: relative;

  user-select: none;

  appearance: none;

  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}



.icon div {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.icon div span {
  position: absolute;
  top: -1.5rem;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 0 0.2px hsla(0, 0%, 96%, 0.7),
    0 0 0 0.2px hsla(0, 0%, 13%, 0.7), hsla(0, 0%, 0%, 0.3) 2px 5px 19px 7px;

  padding: 0.2rem 0.5rem;

  border-radius: 0.3rem;
  display: none;
  transition: all 0.3s ease;
}

.icon div:hover span {
  display: block;
}

.app-icon {
  width: 78px;
  height: auto;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  bottom: -3px;
}
@media (max-width: 768px) {
  #dock {
    height: 5rem;
  }
  .dock-container {
    max-width: 95%;
    overflow: scroll;
  }
  .app-icon {
    width: 58px;
  }
}

@keyframes loading {
  0%{
    width:0%;
  }100%{
    width: 100%;
  }
}

@keyframes fadein {
  0%{
    opacity: 0;
  }100%{
    opacity: 1;
  }
}