@import "./global.css";
@import "./winbox.css";

main {
  width: 100%;
  height: 100%;
  background: url("./../assets/dark-mac-bg.jpeg") center center no-repeat;
  background-size: cover;
  display: none;
  transition: background 0.3s ease;
}

a {
  color: var(--system-text-color);
}

#splash {
  width: 100%;
  height: 100%;
  cursor: none;
  background: black;
  color: white;
  font-size: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -3rem;
}

.loading-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-container .loading-bar {
  width: 12%;
  height: 4px;
  border-radius: 20px;
  background: grey;
}

.loading-container .loading-bar .loading-indicator {
  height: 4px;
  width: 100%;
  border-radius: 20px;
  background: white;
  animation: loading 2.5s forwards cubic-bezier(0.76, -0.13, 0.67, 0.82);
}
#audio {
  position: absolute;
  z-index: -9999;
  display: none;
}
#auth {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./../assets/dark-mac-bg.jpeg") center center no-repeat;
  background-size: cover;
  display: none;
  transition: background 0.3s ease;
  position: absolute;
  color: var(--system-text-color);
  font-weight: 500;
}
.auth-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -3rem;
}
.touch-id {
  font-size: 0.7rem;
  margin-top: 1.3rem;
}

input[type="password"] {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 20px;
  padding: 7px;
  backdrop-filter: blur(30px);
  padding-left: 10px;
  outline: none;
  font-weight: 600;
  border: none;
  color: rgba(255, 255, 255, 0.9);
  caret-color: rgba(255, 255, 255, 0.5);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.5);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.5);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.5);
}

.password {
  position: relative;
}
.password div {
  display: none;
}
.password .fa-arrow-alt-circle-right {
  font-size: 1.15rem;
  position: absolute;
  right: 3px;
  top: 7px;
  color: rgba(255, 255, 255, 0.4);
  z-index: 3;
}
.password,
.password-clue {
  display: none;
}

.password-clue {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
}
.password-clue span {
  color: var(--system-text-color);
}

.profile {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile img {
  height: 130px;
}
.cancel {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cancel div:first-child {
  width: 32px;
  height: 32px;
  font-size: 1.3rem;
  color: rgba(175, 175, 175, 0.8);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.15);
}

#menu {
  background: var(--system-transparent-color-primary);
  position: fixed;
  z-index: 9900;
  width: 100vw;
}

#menu nav {
  position: relative;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}
#menu nav:before {
  content: "";

  width: inherit;
  height: inherit;

  position: fixed;
  left: 0;
  top: 0;

  z-index: 0;
  backdrop-filter: blur(12px);
}
.notch {
  position: fixed;
  height: 30px;
  width: 140px;
  top: 0;
  right: 50%;
  transform: translate(50%);
  background: #232322;
  z-index: 3;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: none;
}
.notch::after {
  content: "👻";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%);
  display: none;
  transition: all 0.3s ease;
}
.notch:hover::after {
  display: block;
}
.toggle-notch {
  display: block;
}
nav .content {
  display: flex;
  align-items: center;
}

nav .content .links {
  margin-left: 5px;
  display: flex;
}

.content .logo {
  position: relative;
  color: var(--system-text-color);
  padding: 0 10px;
  margin-left: 0.7rem;
  border-radius: 3px;
}
.content .logo a {
  color: var(--system-text-color);
}
.logo .menu-drop a {
  padding: 10px 10px;
}

.content .links li {
  list-style: none;
  position: relative;
  border-radius: 5px;
  margin: 1px 0;
  transition: all 0.3s ease;
}

.content .links li a {
  color: var(--system-text-color);
  font-size: 13px;
  font-weight: 500;
  padding: 0px 8px;
}
.links-hover {
  background: var(--system-transparent-color-primary-op);
}
.menu-drop {
  backdrop-filter: blur(20px);
  color: var(--system-text-color);
  font-size: 13px;
  width: 200px;
  position: absolute;
  top: 41px;
  left: 0px;
  padding: 10px 5px;
  background: var(--system-transparent-color-primary);
  border-radius: 10px;
  box-shadow: var(--shadow-effect);
  display: none;
}

#contextMenu {
  position: absolute;
  color: var(--system-text-color);
  font-size: 13px;
  width: 200px;
  z-index: 9900;
  padding: 10px 5px;
  background: var(--system-transparent-color-primary);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: var(--shadow-effect);
  display: none;
}
.stack {
  position: relative;
}

.left-glyph {
  position: absolute;
  top: 6px;
  left: 3px;
}
.right-glyph {
  position: absolute;
  top: 6px;
  right: 3px;
}
.fa-angle-right {
  font-size: 1.1rem;
}
.drop-div {
  margin: 3px 0;
  background: var(--system-transparent-color-secondary-op);
  height: 0.5px;
  width: 100%;
}

.content .links li .menu-drop div .not-active {
  color: var(--system-transparent-color-secondary-op);
}

.drop-link {
  border-radius: 8px;
}

#menu .menu-icon {
  display: none;
}

#menu input[type="checkbox"] {
  display: none;
}

.drawer-icon {
  position: absolute;
  right: 20px;
  color: var(--system-text-color);
}

#action-button {
  position: relative;
  top: 0;
  right: 190px;
  padding-top: 4px;
  height: 20px;
  width: 20px;
}
#focus {
  position: fixed;
  top: 0;
  color: var(--system-text-color);
  right: 220px;
  padding-top: 2px;
  height: 20px;
  width: 20px;
  display: none;
}
#action-button svg {
  height: 17px;
  fill: var(--system-text-color);
}

.action-drop {
  position: absolute;
  top: 41px;
  left: -170px;
  width: 350px;
  font-weight: 500;
  color: var(--system-text-color);
  font-size: 13px;
  background: var(--system-transparent-color-primary);
  border-radius: 13px;
  backdrop-filter: blur(20px);
  box-shadow: var(--shadow-effect);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 15px;
}
.action-color,
.action-wallpaper,
.action-notch,
.action-sound {
  width: 100%;
  min-height: 60px;
  padding: 10px 5px;
  background: var(--system-transparent-color-secondary);
  border-radius: 13px;
  backdrop-filter: blur(20px);
}
.action-sound {
  min-height: 70px;
}
.action-theme {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.action-mode,
.action-focus {
  width: 153px;
  min-height: 60px;
  padding: 10px 5px;
  background: var(--system-transparent-color-secondary);
  border-radius: 13px;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.action-mode div:first-child,
.action-focus div:first-child {
  background: var(--system-transparent-color-primary-op);
  padding: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.action-mode div:first-child {
  background: var(--system-color);
}
.action-notch,
.action-wallpaper,
.action-sound {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  padding-left: 30px;
}
.action-wallpaper {
  padding: 15px;
  padding-left: 20px;
}
.action-wallpaper h3 {
  font-size: 1.1rem;
}
.action-wallpaper h4 {
  margin-top: -0.5rem;
  font-weight: 400;
}
.action-wall {
  width: 70px;
  height: 70px;
  background: url("./../assets/music/radheshyam.webp") no-repeat center center;
  transition: background 0.3s ease;
  background-size: cover;
  border-radius: 10px;
}
.perfect {
  position: fixed;
  right: 20px;
  background: var(--system-transparent-color-primary-op);
  padding: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.perfect .perfect-play,
.perfect .perfect-pause {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.perfect .perfect-pause {
  display: none;
}
.action-sound div:last-child {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 250px;
    height: 20px;
    border-radius: 10px;
    -webkit-appearance: none;
    outline: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 20px;
    -webkit-appearance: none;
    background: var(--thumb-secondary-color);
    outline: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    border-radius: 50%;
    background: var(--system-text-color);
    box-shadow: -120px 20px 10px 115px var(--thumb-primary-color);
  }
}

/* 
input[type="range"]::-moz-range-progress {
background-color: var(--system-color); 
}
input[type="range"]::-moz-range-track {  
background-color: var(--system-color);
}
input[type="range"]::-ms-fill-lower {
background-color: var(--system-color); 
}
input[type="range"]::-ms-fill-upper {  
background-color: var(--system-color);
} */

.action-color {
  padding: 15px 20px;
}
.action-colors {
  padding-top: 15px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.color-div {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.color-div:hover {
  transition: 0.2s all linear;
  background: #3273ec7c;
}

.color {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #3273ecf3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.color div {
  padding-top: 3px;
  display: none;
  color: var(--system-text-color-op);
}

.blue {
  background: #3273ecf3;
}
.blue div {
  display: block;
}
.orange {
  background: #ff9d06;
}
.orange-div:hover {
  background: #ff9b067c;
}
.green {
  background: #2cd156;
}
.green-div:hover {
  background: #2cd1557c;
}
.light-blue {
  background: #67d2ff;
}
.light-blue-div:hover {
  background: #67d1ff8e;
}
.violet {
  background: #5e5de7;
}
.violet-div:hover {
  background: #5d5de783;
}
.purple {
  background: #be5af2;
}
.purple-div:hover {
  background: #bd5af262;
}
.red {
  background: #ff3961;
}
.red-div:hover {
  background: #ff396162;
}

.action-notch div:first-child {
  background: var(--system-transparent-color-primary-op);
  padding: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

#time {
  position: absolute;
  right: 20px;
  font-weight: 500;
  font-size: 13px;
  padding-top: 4px;
  color: var(--system-text-color);
}

.context-link {
  padding: 0px 20px;
  border-radius: 5px;
  font-weight: 500;
}

.drop-link:hover,
.context-link:hover {
  background: var(--system-color);
}
.context-link:hover .left-glyph,
.context-link:hover .right-glyph {
  color: var(--system-text-color-op);
}
.content .links li .drop-link:hover a,
.context-link:hover a {
  color: var(--system-text-color-op);
}
.content .logo .drop-link:hover a {
  color: var(--system-text-color-op);
}

@media screen and (max-width: 1250px) {
  #menu {
    backdrop-filter: inherit;
    box-shadow: none;
  }
  #menu nav {
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links {
    margin-left: 30px;
  }
  .content .links li a {
    padding: 8px 13px;
  }
  .content .logo .logo-link {
    margin-left: 0rem;
  }
  #action-button {
    right: 170px;
  }
}
@media screen and (max-width: 920px) {
  #menu .menu-icon {
    display: block;
  }

  nav .content .links {
    display: block;
    position: fixed;
    background: var(--bg-color);
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 360px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links {
    left: 0%;
  }
  .content .links li {
    margin: 15px 20px;
  }
  .content .links li a {
    line-height: 40px;
    font-size: 1.25rem;
    display: block;
    padding: 8px 18px;
  }

  .content .links ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }

  .content .links ul li {
    margin: 7px 20px;
  }
  .content .logo {
    margin-left: -1rem;
  }
}
@media screen and (max-width: 658px) {
  #action-button {
    right: -6px;
  }
  .action-drop {
    left: auto;
    right: -15px;
  }
  #focus {
    right: 50px;
  }
  #time {
    display: none;
  }
}
@media screen and (max-width: 460px) {
  .content .links li a {
    font-size: 0.75rem;
    padding: 2px 5px;
  }
  .content .logo a {
    margin-left: 0;
  }

  #splash {
    font-size: 2.5rem;
  }
  nav .content .links {
    padding-bottom: 0px;
  }

  .content .links li {
    margin: 1px 1px;
  }
}
@media screen and (max-width: 340px) {
  .action-drop {
    width: 330px;
  }
}

#dock {
  margin-bottom: 1rem;
  left: 0;
  bottom: 0;
  z-index: 9900;
  position: fixed;

  width: 100%;
  height: 6.5rem;

  padding: 0.4rem;

  display: flex;
  justify-content: center;
}

.dock-container {
  backdrop-filter: blur(5px);
  box-shadow: var(--shadow-effect);
  background: var(--system-transparent-color-primary);

  padding: 0.3rem;

  border-radius: 1.2rem;

  height: 100%;

  display: flex;
  align-items: flex-end;
}

.icon {
  color: inherit;
  text-decoration: none;
  vertical-align: middle;

  border: 0;
  border-radius: 0;

  outline: 0;

  margin: 3px 4px;
  padding: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: relative;

  user-select: none;

  appearance: none;

  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.icon div {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.icon div span {
  position: absolute;
  top: -2rem;
  color: var(--system-text-color);
  font-weight: 500;
  background: var(--system-transparent-color-primary);
  backdrop-filter: blur(5px);
  box-shadow: var(--shadow-effect);

  padding: 0.2rem 0.5rem;

  border-radius: 0.3rem;
  display: none;
  transition: all 0.3s ease;
}

.icon div:hover span {
  display: block;
}

.app-icon {
  width: 78px;
  height: auto;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--system-text-color);
  bottom: -3px;
}

.dock-line {
  margin: 1px 5px;
  background: var(--system-transparent-color-secondary-op);
  width: 0.5px;
  height: 4rem;
}
@media (max-width: 768px) {
  #dock {
    height: 5rem;
  }
  .dock-container {
    max-width: 95%;
    overflow: scroll;
  }
  .app-icon {
    width: 58px;
  }
  .dock-line {
    height: 3rem;
  }
}

.logo .fa-apple {
  font-size: 1.2rem;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearFromBottom {
  0% {
    transform: translateY(20vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes appearFromTop {
  0% {
    transform: translateY(-20vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
