@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
	--primary-font: -apple-system, BlinkMacSystemFont, 'Inter', 'Helvetica Neue', 'Helvetica',
	'Arial', sans-serif;
	--secondary-font: 'PT Serif', serif;
	--primary-font-size: 1rem;
	--secondary-font-size: 1.6rem;
	--system-cursor-default: url('./../assets/glyphs/cursor.png');
  --system-focus-outline: 0 0 0 3px hsla(var(--system-color-primary-hsl), 0.5);
}