.winbox {
	border-radius: 10px;
	border: none;
	box-shadow: var(--shadow-effect-window);
	color: white;
	background: var(--system-primary-color);
}
.wb-body {
	/* the width of window border: */
	margin: 1px;
	border-radius: 10px;
	color: white;
	background: var(--system-primary-color);
}

.wb-title{
	text-align: center;
	font-size:1.2rem;
	font-weight: 500;
	padding-top:5px;
	color: var(--system-text-color);
}

.wb-icon * {
	opacity: 0.65;
	filter: var(--system-filter);
}

.wb-icon *:hover {
	opacity: 1;
}

